<h1>ABOUT US</h1>
<h4>Friends are great. They pay for coffee.  They pick up the tab when you're out on the town and short on cash.  They may even help you move--if you're lucky.  Hey, they're your friends so they're happy to get your back. But just in case you want to keep track of they've bought you, so you can pay 'em back, or just get 'em back the next time around, SquidProQuo can help. or</p><p>We are SquidProQuo, an app where you keep track of all of your IOUs.  It's free.  It's easy.  And it's a nice way to return the kindness of your friends and loved ones</h4>
<br>
<center><h4><b>SquidProQuo:</b> <i>Let's get squiddin'.</i></h4></center>
<br>

<h2><center>THE SQUID TEAM</center></h2>

<h4>Project Manager: Anne Nichols</h4>
<%= image_tag "happy-female-squid.jpg", class:"squidimg" %><br>
<p>Duties: User Model/Controller, CSS</p><br>

<h4>The Pretty One: Craig Nielson</h4>
<%= image_tag "smile-squidward.png", class:"squidimg" %><br>
<p>Duties: Home Page, Styling, other tasks.</p><br>

<h4>The Asian One: Khuong Dang</h4>
<%= image_tag "other-squidward.jpg", class:"squidimg2" %><br>
<p>Duties: Debt Model/Controller, About Us</p>