/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$navbar-height: 100px;

@import url(//fonts.googleapis.com/css?family=Montserrat);

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #5C5B59;
}

.main-body {
	padding-top: 80px;
}

.navbar {
	background-color: #E4E0D4;
}

.navbar-brand {
	font-size: 3em;
	font-family: 'Montserrat';
}

.nav-text {
	font-size: 1.5em;
}

.logo {
	padding-top: 15px;
	padding-bottom: 25px;
	padding-left: 30px;
}

.jumbotron {
	margin-top: 20px;
	padding: 15px;
	background-color: #E4E0D4;
	.btn {
		background-color: #E27F2E;
		border-color: #E27F2E;
	}
}

.table {
	width: 75%;
	th {
		font-size: 1.5em;
		text-align: center;
	}
	td {
		font-size: 1.25em;
	}
}

.debt-table {
	padding-bottom: 30px;
}

.table-header {
	text-align: center;
}

h4 {
	padding-top: 10px;
	font-size: 1.5em;
}

.user-list {
	font-size: 0.75em;
	padding-bottom: 10px;
	list-style: none;
}

.user-button {
	background-color: #45629C;
	border-color: #5C5B59;
}

.user-button-spacing {
	padding-top: 10px;
}

label {
	font-size: 1.5em;
}

.actions {
	padding-top: 15px;
}