<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container page-top">
    <%= link_to "SquidProQuo", root_path, class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path, class: "nav-text" %></li>
        <li><%= link_to "About", static_pages_about_path, class: "nav-text" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-text" data-toggle="dropdown" role="button" aria-expanded="false">The Team <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://devpointlabs.slack.com/team/craig10n" target="_blank">Craig</a></li>
            <li><a href="https://devpointlabs.slack.com/team/annenichols" target="_blank">Ann</a></li>
            <li><a href="https://devpointlabs.slack.com/team/kuddox" target="_blank">Khuong</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>